* {
    padding: 0px;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main_section {
    background-color: #05171f;
    padding-top: 6rem;
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.headline_section {
    font-size: 5rem;
    color: white;
    margin-bottom: 16rem;
}

#pics {
    img {
        height: 14rem;
        width: 14rem;
        object-fit: cover;
        border-radius: 1rem;
        display: flex;
        
    }
    gap: 1rem;
    display: flex;
    flex-wrap:wrap;
    padding-left: 5rem;
    padding-right: 5rem;
}

.nav {
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #082029;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10rem;
    width: 100%;

    img {
        height: 5rem;
        width: auto;
        object-fit: cover;
    }
}

.footer {
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #082029;
    height: 12rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 4rem;
        width: 4rem;
        margin: 1rem;
    }
}
