* {
    padding: 0px;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    
}

body {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: 1229px){
        height: auto;
    }
    
}

.main_section {
    background-color: #05171f;
    padding-top: 6rem;
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    justify-content: top;

    @media (max-width: 1229px){
        padding-bottom: 4rem;
    }
    @media (max-width: 1054px){
        div{
        align-items: center;
        justify-content: center;
    }
    }
}

.headline_section {
    font-size: 5rem;
    color: white;
    margin-bottom: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
    @media (max-width: 864px){
        font-size: 4.5rem;
    }
    @media (max-width: 674px){
        font-size: 4rem;
    }
    @media (max-width: 583px){
        font-size: 3.5rem;
    }
    @media (max-width: 523px){
        font-size: 3rem;
    }
    @media (max-width: 465px){
        font-size: 2.8rem;
    }
    @media (max-width: 444px){
        padding-left: 3rem;
        padding-right: 3rem;
    }
    @media (max-width: 401px){
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 2.5rem;
    }
    @media (max-width: 346px){
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        font-size: 2.2rem;
    }
}

#pics {
    img {
        height: 18rem;
        width: 18rem;
        object-fit: cover;
        border-radius: 1rem;
        display: flex;
    }
    gap: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    padding-left: 5rem;
    padding-right: 5rem;
    flex: 1;

    @media (max-width: 523px){
        img {
            height: 16rem;
            width: 16rem;
        }
    }
    @media (max-width: 465px){
        img {
            height: 16rem;
            width: 16rem;
        }
    }
    @media (max-width: 444px){
        gap: 0.5rem;
        img {
            height: 15rem;
            width: 15rem;
        }
    }
}

.nav {
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #082029;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10rem;
    width: 100%;

    img {
        height: 5rem;
        width: auto;
        object-fit: cover;
    }
    @media (max-width: 674px){
        justify-content: center;
    }
    @media (max-width: 444px){
        padding-left: 3rem;
        padding-right: 3rem;
        justify-content: center;
    }
    @media (max-width: 401px){
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: center;
    }
    @media (max-width: 346px){
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        justify-content: center;
    }
}

.footer {
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #082029;
    height: 12rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 4rem;
        width: 4rem;
        margin: 1rem;
    }
    @media (max-width: 444px){
        padding-left: 3rem;
        padding-right: 3rem;
    }
    @media (max-width: 401px){
        padding-left: 2rem;
        padding-right: 2rem;
    }
    @media (max-width: 346px){
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }
}

.overlay{
    position: absolute;
    background-color: rgba(5, 23, 31, 0.9);
    top: 0;
    left:0;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 900;
}

.overlay_container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}


.pictures{
    border: 2px solid transparent;
    transition: border 0.3s ease-in-out;
    cursor: pointer;
}

.pictures:hover {
    border: 4px solid white;
}

.arrow_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
    gap: 10rem;
}

.arrows{
    border: 2px solid transparent;
    transition: border 0.1s ease-in-out;
    cursor: pointer;
    
}

.arrows:hover {
    border: 4px solid white;
    border-radius: 10px;
}

.close_overlay{
    border: 2px solid transparent;
    transition: border 0.1s ease-in-out;
    cursor: pointer;
}

.close_overlay:hover {
    border: 4px solid white;
    border-radius: 10px;
}


.d-none{
    display: none;
}
.d-yes{
    display: block;
}

#overlay_pic{
    height: 64rem;
    width: auto;
    object-fit: cover;

    @media (max-width: 1060px){
        height: 56rem;
    }
    @media (max-width: 950px){
        height: 50rem;
    }
    @media (max-width: 860px){
        height: 44rem;
    }
    @media (max-width: 755px){
        height: 38rem;
    }
    @media (max-width: 660px){
        height: 34rem;
    }
    @media (max-width: 570px){
        height: 28rem;
    }
    @media (max-width: 485px){
        height: 24rem;
        width: 24rem;
    }
    @media (max-width: 410px){
        height: 20rem;
    }
    @media (max-width: 345px){
        height: 18rem;
    }
}
.arrows{
    height: 6rem;
    width: 6rem;
    @media (max-width: 660px){
        height: 5rem;
        width: 5rem;
    }
    @media (max-width: 410px){
        height: 4rem;
        width: 4rem;
    }
}